[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework-jwt = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pylint = "*"
isort = "*"
mccabe = "*"
tomlkit = "*"
platformdirs = "*"
astroid = "*"
dill = "*"
python-dotenv = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
